/* map and overall page style */
html, body, #viewDiv, .row {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* removes margin/paddings from map/sidebar */
.col-9, .col-3 {
  padding: 0;
  margin: 0;
}

#sidebar {
  padding: 10px;
}
.sidebarList {
  margin-right: 15px;
}
.residential {
  color:orange;
  margin: 5px;
}
.academic {
  color:red;
  margin: 5px;
}
.recreational {
  color:blue;
  margin: 5px;
}
#filterBtn {
  margin: 10px;
}
